*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  min-height: 100vh;
}
  .column {
    justify-content: center;
    width: 25%;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;

  }

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .font h1 {
    font-size: 30px;
    position: relative;
    padding-left: 50px;
    top: 30px;
    font-family: Oswald;
    font-weight: 400;
  }
  .row a{
    font-size: 20px;
    font-family: Oswald;
  }
  
  .card { 
    padding: 0px;
    border: none;
    text-align: center;
    height: auto;
    width: 100%;
  }
  .card img {
    height: 350px;
    width: 100%;
    border-radius: 10px;
  }

  .card-footer {
   background-color: white;
   border: none;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .overlay {
    position: fixed;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;

  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 999;
  }
  
  .popup {
    margin: 50px auto;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    width: 65%;
    height: 85%;
    position: relative;
    z-index: 9999;
  }
  
  .popup .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }
  
  @media screen and (max-width: 500px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  
  .content img {
    width: 60%;
    height: 80%;
  }
  .popup h2{
    padding-top: 20px;
    padding-left: 20px;
    font-family: Oswald;
    font-size: 36px;
    color: black;
    width: 50%;
  }
  .popup h3 {
    position: absolute;
    top: 10px;
    left: 78%;
    width: 25%;
    transform: translateX(-50%);
    padding-top: 20px;
    padding-left: -5px;
    font-family: Oswald;
    color: black;
    font-size: 36px;
    font-weight: bold;
  }
  
  @media (max-width: 767px) {
    /* Adjust styles for smaller screens */
    .popup h3 h2 {
      font-size: 24px;
    }
  }

  .popup .content {
    position: relative; /* Added for positioning the button */
    overflow-x: hidden;
}

.popup-button {
    position: absolute;
    text-align: center;
    top: 20px;
    right: 50px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #606C38;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    height: 10%;
}

@media screen and (max-width: 767px) {
  .popup-button {
      bottom: 20px;
      right: 20px;
      padding: 8px 16px;
      font-size: 14px;
  }
}

.popup-details {
  position: absolute;
  top: 100px;
  left: 78%;
  color: #333;
  text-align: left;
  width: 100%;
  height: 70%;
  
}

.popup-details h6 {
  margin: 0;
  font-size: 19px;
  font-weight: bold;
  font-family: Lato;
  width: 25%;
  height: 5;
  transform: translateX(-50%);
  padding: 5px;
}

@media screen and (max-width: 769px) {
  .popup-details img {
    position: relative;
    left: -65px;
    top: -20px;
    padding: 1rem;
    margin-top: 20px;
    width: 250px;
    max-width: 45%;
    height: 50%;
  }
}

.popup-details img {
  position:inherit;
  top: 150px;
  left: -15%;
  margin: 5px;
  width: 30%;
  height: 40%;
  border-radius: 10px;
  justify-self: center;
  display: flex;
  text-align: center;
}



.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.backdrop.visible {
  opacity: 1;
  pointer-events: auto;
}


#open_cart_btn{
  border: none;
  background-color: #22241B;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.side_cart{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  background-color: white;
  box-shadow: -10px 0 15px var(--light-gray);
  overflow-x: auto;
  transform: translate(110%);
  transition: transform 0.5s ease-in-out;

}

.side_cart.open{
  transform: translate(0);
}

.cart-content{
  display: flex;
  height: 100%;
  flex-direction: column;
}
.cart_header{
  padding-top: 100px;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_title{
  position: relative;
}

.header_title span{
  position: absolute;
  top: -5px;
  right: -20px;
  width: 20px;
  height: 20px;
  background-color: lightblue;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart_header .close_btn{
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease;    
}
.cart_header .close_btn:hover{
  transform: scale(1.1);
}
.cart_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
  background-color: #f7f8f8;
}

.cart_item {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 150px;
  gap: 1rem;
}

.item_img {
  width: 30%;
  height: 30%;
  object-fit: contain;
  padding: 10px;
}

.item_details {
  flex: 1;
  display: flex;
  flex-direction: column;

}

.remove_item {
  position: relative;
  left: -50px;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.remove_item span {
  color: #fff;
  font-size: 20px;
  user-select: none;
}






.cart_actions{
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid;
}
.cart_actions .subtotal{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}

.cart_actions button {
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
.cart_actions button:hover {
  opacity: 0.8;
}
