@media (max-width: 576px) {
  .display-1 {
      font-size: 3rem;
      line-height: 1.2;
  }
  .h5 {
      font-size: 1.5rem;
      line-height: 1.4;
  }

  .product-item img {
    width: 100%;
    height: auto;
  }

  .product-name,
  .product-price {
    font-size: 25px;
  }

  .product-gallery {
    max-width: 100%;
  }

  .product-details {
    position: static;
    padding: 10px;
    max-width: 100%;
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
    text-decoration: none;
  }

<<<<<<< HEAD
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .row h3, h2 {
    font-size: 20px;
    line-height: 1.2;
  }
  .row #images1  {
    position: relative;
    right: 120px;
    bottom: 125px;
    width: 87%;
    height: auto;
  
  }
  
  
=======
  .checkout {
    margin-top: 10%;
  }
>>>>>>> 96db05bfbd9f773c395b81b6f90df72c0e2e17c8
}




body {
  overflow-x: hidden;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 20px 60px;
  background-color: #22241B;
}

.nav-link {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
}

.navbar-brand {
  color: #ffffff;
}

.navbar-nav .nav-link {
  margin-right: 10px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #B5BAA4;
  background-color: transparent;
  text-decoration: solid;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #ffffff; 
  text-decoration: none; 
}

.navbar-toggler {
  box-shadow: none !important; 
  background-color: transparent; 
  border-color: transparent;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.jumbotron {
  background-image: linear-gradient(rgba(5, 0, 2, 0.622), rgba(0, 0, 0, 0.5)), url("./images/cargopants.jpg");
  height: 600px;
  border-radius: 0%;
  padding: 100px 80px;
}

.display-1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #F7F7F7;
}

.h5 {
  color: #F7F7F7;
  font-weight: lighter;
}

#shopBtn, 
.prod-cat-btn {
  background-color: #606C38;
  color: #F7F7F7;
  font-family: 'Oswald', sans-serif;
  border: none;
  border-radius: 0px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#shopBtn {
  padding: 15px 50px;
  font-size: 20px;
}

/* prod-cat: Product Category */
#shopBtn:hover, 
.prod-cat-btn:hover {
  background-color: #30361C;
  color: #F7F7F7;
}

.image-box {
  width: 100%;
  position: relative;
  text-align: center;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.prod-cat-btn {
  padding: 15px 90px;
  font-size: 30px;
}

.image-text-container {
  display: flex;
  align-items: center;
}

.image-text-container img {
  max-width: 100%;
  margin-right: 10px;
}

.display-4 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #22241B;
}

p {
  font-size: 15px;
}

.product-gallery {
  max-width: 60%;
}

.product-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%; 
  position: relative;
  overflow: hidden;
}

.product-image img {
  width: auto;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.product-details {
  background-color: #22241B;
  color: #F7F7F7;
  padding: 10px;
  width: 100%;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name,
.product-price {
  margin: 0;
  font-size: 18px;
  text-decoration: none;
}

.product-link {
  text-decoration: none;
  outline: none;
  display: block;
}

.product-price {
  color: #DDA15E;
}

/* Information CSS */
.logo img {
  height: 150px;
  width: auto;
}

.navigation-menu {
  display: flex;
  justify-content: left;
}

.menu-item.current {
  font-weight: bold;
}

.menu-item {
  margin-right: 10px;
  font-weight: normal;
  color: #22241B;
  text-decoration: none; 
}

.form-group {
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}

.form-group.row .col-md-6 label {
  display: block;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input[type="text"] {
  width: 100%;
}

.form-control, .btn {
  border-radius: 0px;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.form-title {
  font-weight: bold;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
}

.submit-btn {
  background-color: #606C38;
  color: #F7F7F7;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 0px;
  text-decoration: none;
}

.return-btn {
  text-decoration: underline;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

<<<<<<< HEAD
/* Sidebar CSS */
#open_cart_btn{
  border: none;
  background-color: #22241B;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.side_cart{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  background-color: white;
  box-shadow: -10px 0 15px var(--light-gray);
  overflow-x: auto;
  transform: translate(110%);
  transition: transform 0.5s ease-in-out;

}
.side_cart.open{
  transform: translate(0);
}

.cart-content{
  display: flex;
  height: 100%;
  flex-direction: column;
}
.cart_header{
  padding-top: 100px;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_title{
  position: relative;
}

.header_title span{
  position: absolute;
  top: -5px;
  right: -20px;
  width: 20px;
  height: 20px;
  background-color: lightblue;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart_header .close_btn{
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease;    
}
.cart_header .close_btn:hover{
  transform: scale(1.1);
}
.cart_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
  background-color: #f7f8f8;
}

.cart_item {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 150px;
  gap: 1rem;
}

.item_img {
  width: 30%;
  height: 30%;
  object-fit: contain;
  padding: 10px;
}

.item_details {
  flex: 1;
  display: flex;
  flex-direction: column;

}

.remove_item {
  position: relative;
  left: -50px;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.remove_item span {
  color: #fff;
  font-size: 20px;
  user-select: none;
}

.cart_actions{
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid;
}
.cart_actions .subtotal{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}

.cart_actions button {
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
.cart_actions button:hover {
  opacity: 0.8;
}

/* Pop-Up CSS */
.column {
  justify-content: center;
  width: 25%;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.font h1 {
  font-size: 30px;
  position: relative;
  padding-left: 50px;
  top: 30px;
  font-family: Oswald;
  font-weight: 400;
}
.row a{
  font-size: 20px;
  font-family: Oswald;
}

.card { 
  padding: 0px;
  border: none;
  text-align: center;
  height: auto;
  width: 100%;
}
.card img {
  height: 350px;
  width: 100%;
  border-radius: 10px;
}

.card-footer {
 background-color: white;
 border: none;
}

.overlay {
  position: fixed;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;

}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}

.popup {
  margin: 0 auto;
  padding: 10px;
  margin-top: 100px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  height: 80%;
  position: relative;
  z-index: 9999;
  overflow-y: hidden;
  overflow-x: hidden;
}
.popup .close {
  position: absolute;
  top: 2px;
  right: 15px;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  position: relative; 
  overflow-y: hidden;
  overflow-x: hidden;
}
.popup .content {
  width: 100%;
  height: 100%;
}
.row h2,h3 {
  color: #000;
}
.row h3 {
  font-weight: bold;
}

#images{
  width: 100%;
  height: 100%;
  justify-content: center;
  object-fit: contain;
  padding: 1px;
  margin: 5px;
}

.popup-button {
  text-align: center;
  padding: 1px;
  margin: 5px;
  font-size: 12px;
  background-color: #606C38;
  color: #fff;
  border: none;
  border-radius: 10 px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  justify-content: center;
}
.popup-button:hover {
  opacity: 0.8;
}

.popup-details {
  width: 100%;
  height: 100%;
}

.popup-details p {
  color: #333;
  padding: 1px;
  font-size: 15px;
  font-weight: bold;
  font-family: Lato;
}

#images1  {
  width: 95%;
  height: 45%;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.backdrop.visible {
  opacity: 1;
  pointer-events: auto;
}
=======
.checkout-img {
  max-width: 15%; 
  height: auto; 
}

.checkout-item-border {
  padding: 10px;
  background-color: #EEEEEE;
}

.checkout-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.checkout-item {
  padding: 20px;
}

.checkout-details p {
  font-size: 17px;
}

.checkout-pricing-details {
  margin: 40px;
}

.checkout {
  margin-top: 20%;
}

.border-gray {
  border: 2px solid #DADADA;
}

.col-lg-5 {
  flex: 1;
  overflow-y: auto;
}

.gray-line {
  border-bottom: 2px solid #DADADA;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.no-margin {
  margin: 0;
}

>>>>>>> 96db05bfbd9f773c395b81b6f90df72c0e2e17c8

/* #images {
    float:left;
    padding:10px;
    padding-left: 0%;
    padding-right: 0%;
    margin:-25px;
    height:500px;
    width:500px;
    overflow:hidden;
    text-align:center;
}

.main-container1 {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 600px;
  }


.pants1 {
    position: relative;
    top: -100px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #606C38;
    color: white;
    font-family: Open Sans;
    border-radius: 5px;
    text-align: center;
}
.pants2 {
    position: relative;
    top: -100px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #606C38;
    color: white;
    font-family: Open Sans;
    border-radius: 5px;
    text-align: center;
}
.pants3 {
    position: relative;
    top: -100px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #606C38;
    color: white;
    font-family: Open Sans;
    border-radius: 5px;
    text-align: center;
}

.pants1:hover {
    background-color: #606C38;
    transform: scale(1.125);
  }
  .pants1:active {
    transform: scale(1.025);
  }
  .pants2:hover {
    background-color: #606C38;
    transform: scale(1.125);
  }
  .pants2:active {
    transform: scale(1.025);
  }
  .pants3:hover {
    background-color: #606C38;
    transform: scale(1.125);
  }
  .pants3:active {
    transform: scale(1.025);
  }

.slider img{
    display: flex;
    background-size: cover;
    width: 500px;
    height: 500px;
    padding: 45px;
    border-radius: 20px;
}

.main-container {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 600px;
    margin-top: -79px;
  }

.container1 {
    position: relative;
    float: left;
    display: flex;
    background-color: white;
}
.container2 {
    float: right;
    display: flex;
    background-color: white;
}

.text {
    font-size: 20px;
    padding-left: 20px;
    margin-top: 10px;
  }

.text h1{
    font-size: 35px;
    padding-left: 5px;
    color: black;
    font-family: Oswald;   
  }

  .text h3{
    font-size: 18px;
    padding-left: 5px;
    color: black;
    padding: 5px;
    font-family: Montserrat;
  }


.button-73 {
    appearance: none;
    background-color: #fde5a7;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 350px;
    margin-top: -50px;
  }
  
  .button-73:hover {
    background-color: #fde5a7;
    transform: scale(1.125);
  }
  .button-73:active {
    transform: scale(1.025);
  } */

 