body {
    overflow-x: hidden;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
  padding: 20px 60px;
  background-color: #22241B;
}

.nav-link {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
}

.navbar-brand {
  color: #ffffff;
}

.navbar-nav .nav-link {
  margin-right: 10px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #B5BAA4;
  background-color: transparent;
  text-decoration: solid;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #ffffff; 
  text-decoration: none; 
}

.navbar-toggler {
  box-shadow: none !important; /* Remove the button shadow */
  background-color: transparent; /* Remove the background color */
  border-color: transparent; /* Remove the border color */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.jumbotron {
  background-image: linear-gradient(rgba(5, 0, 2, 0.622), rgba(0, 0, 0, 0.5)), url("./images/cargopants.jpg");
  height: 600px;
  border-radius: 0%;
  padding: 100px 80px;
}

.display-1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #F7F7F7;
}

.lead {
  font-family: 'Roboto', sans-serif;
  color: #F7F7F7;
  font-weight: lighter;
}

#shopBtn {
  background-color: #606C38;
  color: #F7F7F7;
  font-family: 'Oswald', sans-serif;
  border: none;
  padding: 15px 50px;
  border-radius: 0px;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

#shopBtn:hover {
  background-color: #30361C;
}
/* .main-navbar .top-navbar{
    background-color: #22241B;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name{
    color: #fff;
}
.main-navbar .top-navbar .nav-link{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu{
    padding: 0px 0px;
    border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item{
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i{
    width: 20px;
    text-align: center;
    color: white;
    font-size: 14px;
}
.main-navbar .navbar{
    padding: 0px;
    background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link{
    padding: 8px 20px;
    color: #000;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link{
        font-size: 12px;
        padding: 8px 10px;
    }
} */

.home {
    background-image: linear-gradient(rgba(5, 0, 2, 0.622), rgba(0, 0, 0, 0.5)), url('Images/2.png');
    background-size: cover;
    height: 870px;
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    color: #fff;
}


.home h1 {
    font-weight: bold;
    margin-left: 50px;
    font-size: 80px;
    margin-top: 220px;
    text-align: left;
    color: #fff;
    font-family: Roboto Condensed;
}

.home h2 {
    font-size: 30px;
    text-align: left;
    color: #fff;
    margin-left: 50px;
    margin-top: -4px;
    font-family: 'Montserrat', sans-serif;
}

#images {
    float:left;
    padding:10px;
    padding-left: 0%;
    padding-right: 0%;
    margin:-25px;
    height:500px;
    width:500px;
    overflow:hidden;
    text-align:center;
}

.main-container1 {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 600px;
  }


.pants1 {
    position: relative;
    top: -100px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #606C38;
    color: white;
    font-family: Open Sans;
    border-radius: 5px;
    text-align: center;
}
.pants2 {
    position: relative;
    top: -100px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #606C38;
    color: white;
    font-family: Open Sans;
    border-radius: 5px;
    text-align: center;
}
.pants3 {
    position: relative;
    top: -100px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #606C38;
    color: white;
    font-family: Open Sans;
    border-radius: 5px;
    text-align: center;
}

.pants1:hover {
    background-color: #606C38;
    transform: scale(1.125);
  }
  .pants1:active {
    transform: scale(1.025);
  }
  .pants2:hover {
    background-color: #606C38;
    transform: scale(1.125);
  }
  .pants2:active {
    transform: scale(1.025);
  }
  .pants3:hover {
    background-color: #606C38;
    transform: scale(1.125);
  }
  .pants3:active {
    transform: scale(1.025);
  }

.slider img{
    display: flex;
    background-size: cover;
    width: 500px;
    height: 500px;
    padding: 45px;
    border-radius: 20px;
}

.main-container {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 600px;
    margin-top: -79px;
  }

.container1 {
    position: relative;
    float: left;
    display: flex;
    background-color: white;
}
.container2 {
    float: right;
    display: flex;
    background-color: white;
}

.text {
    font-size: 20px;
    padding-left: 20px;
    margin-top: 10px;
  }

.text h1{
    font-size: 35px;
    padding-left: 5px;
    color: black;
    font-family: Oswald;   
  }

  .text h3{
    font-size: 18px;
    padding-left: 5px;
    color: black;
    padding: 5px;
    font-family: Montserrat;
  }


.button-73 {
    appearance: none;
    background-color: #fde5a7;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 350px;
    margin-top: -50px;
  }
  
  .button-73:hover {
    background-color: #fde5a7;
    transform: scale(1.125);
  }
  .button-73:active {
    transform: scale(1.025);
  }

 