body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px !important;
  }
  .display-1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
  .display-4 {
    font-size: 2rem;
  }
  .lead {
    font-size: 1.1rem;
    line-height: 1.4;
  }
  .product-category {
    margin-bottom: 18px;
  }
  .product-item img {
    width: 100%;
    height: auto;
  }
  .product-name,
  .product-price {
    font-size: 25px;
  }
  .product-gallery {
    max-width: 100%;
    padding-top: 30px;
  }
  .product-details {
    position: static;
    padding: 10px;
    max-width: 100%;
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
    text-decoration: none;
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .row h3, h2 {
    font-size: 20px;
    line-height: 1.2;
  }
  .form-group.row .col-md-6:first-child {
    margin-bottom: 15px;
  }
  #cd-cart {
    width: 100% !important;
  }
}

@media (max-width: 320px) {
  .display-1 {
    font-size: 2.9rem;
  }
}

/*===================================
 *         Navigation Bar
 *===================================
 */
.navbar {
  padding: 15px 50px;
  background-color: #22241B;
}
.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}
.nav-item .nav-link{
  font-weight: 200;
}
.nav-link {
  color: #F7F7F7;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.navbar-brand {
  color: #B7C48D;
}
.navbar-nav .nav-link {
  margin-right: 10px;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #B5BAA4;
  background-color: transparent;
  text-decoration: solid;
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: #F7F7F7; 
  text-decoration: none; 
}
.navbar-toggler {
  box-shadow: none !important; 
  background-color: transparent; 
  border-color: transparent;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.dropdown-item {
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #323528;
  color: #F7F7F7;
  font-weight: 200;
}
.dropdown-item:hover {
  background-color: #22241B;
  color: #F7F7F7;
}
.bi-cart-fill {
  color: #F7F7F7;
}

/*===================================
 *         Footer Section
 *===================================
 */
 .footer {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
 }
 .footer-items a {
  color: #F7F7F7;
  text-decoration: none;
}
.footer-items a:hover {
  color: #22241B;
  transition: color 0.2s ease;
}
.copyright {
  color: #B5BAA4;
}

/*===================================
 *        Homepage (Index)
 *===================================
 */
 .jumbotron {
  background-image: linear-gradient(rgba(5, 0, 2, 0.622), rgba(0, 0, 0, 0.5)), url("./images/cargopants.jpg");
  height: auto;
  border-radius: 0%;
  padding: 120px 40px 50px;
}
.display-1 {
  font-weight: 700;
  color: #F7F7F7;
}
.green-line {
  border: 2px solid #B7C48D;
  height: 2px;
  width: 50%;
}
.lead {
  font-family: 'Roboto', sans-serif;
}
.h5 {
  color: #F7F7F7;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}
#shopBtn, 
.prod-cat-btn {
  background-color: #606C38;
  color: #F7F7F7;
  font-family: 'Oswald', sans-serif;
  border: none;
  border-radius: 0px;
  text-decoration: none;
  padding: 0;
  transition: background-color 0.3s ease;
}
#shopBtn {
  padding: 15px 50px;
  font-size: 20px;
}
#shopBtn:hover, 
.prod-cat-btn:hover {
  background-color: #30361C;
  color: #F7F7F7;
}
.product-categories {
  padding: 30px;
  margin: auto;
}
.image-box {
  position: relative;
  text-align: center;
  z-index: -1;
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.button-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.display-4, .display-5 {
  font-weight: 700;
  color: #22241B;
  font-family: 'Oswald', sans-serif;
}

/*===================================
 *          Payment Page
 *===================================
 */
.payment-option {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
.payment-option input[type="radio"] {
  display: none;
}
.payment-option label {
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  font-size: 14px; 
}
.payment-option 
.payment-option-content {
  padding: 0 15px;
  font-size: 12px; 
}
.payment-option input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #DADADA;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
.payment-option input[type="radio"]:checked + label::before {
    background-color: #22241B;
}

/*===================================
 *         Products Page
 *===================================
 */
.prod-cat-btn {
  width: 200px;
  height: 70px;
  font-size: 30px;
}
.product-gallery {
  max-width: 80%;
  margin-top: 8%;
  margin-bottom: 5%;
}
.product-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%; 
  position: relative;
  overflow: hidden;
}
.product-image img {
  width: auto;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.product-details {
  background-color: #22241B;
  color: #F7F7F7;
  padding: 10px;
  width: 100%;
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}
.product-name,
.product-price {
  margin: 0;
  font-size: 18px;
  text-decoration: none;
}
.product-link {
  text-decoration: none;
  outline: none;
  display: block;
}
.product-price {
  color: #DDA15E;
}

/*===================================
 *         Information Page
 *===================================
 */
.form-group {
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}
.form-group.row .col-md-6 label {
  display: block;
}
.form-group label {
  margin-bottom: 5px;
}
.form-group input[type="text"] {
  width: 100%;
}
.form-control {
  border-radius: 5px;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}

/*===================================
 *       Checkout Navigation
 *===================================
 */
.navigation-menu {
  display: flex;
  justify-content: left;
}
.menu-item .me-3 {
  margin-right: 10px;
  font-weight: normal;
  color: #22241B;
  text-decoration: none;
}
.current a {
  color: #F7F7F7;
  text-decoration: none;
  border-bottom: .125em solid #B5BAA4;
  box-shadow: inset 0 -0.125em 0 #B5BAA4;
  transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);
}
.current a:hover {
  box-shadow: inset 0 -1.125em 0 #B5BAA4;
}
.current a:focus {
  background: #f7f7f7;
  outline: none;
  background: #B5BAA4;
  color: #f7f7f7;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);
}
.information, 
.shipping,
.payment {
  padding-top: 20px;
  padding-bottom: 50px;
}
.logo img {
  height: 80px;
  width: auto;
}

/*===================================
 *         Checkout Page
 *===================================
 */
.form-title {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
}
.submit-btn {
  background-color: #606C38;
  color: #F7F7F7;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.button-group button:hover {
  color: #F7F7F7;
}
.return-btn {
  text-decoration: underline;
  padding: 0;
  margin: 0;
  font-size: 15px;
}
.return-btn:hover {
  color: #22241B !important;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.border-gray {
  border: 1px solid #DADADA;
  border-radius: 5px;
}
.col-lg-5 {
  flex: 1;
  overflow-y: auto;
}
.gray-line {
  border-bottom: 1px solid #DADADA;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.no-margin {
  margin: 0;
}

/*===================================
 *      Checkout Items Preview
 *===================================
 */
.checkout-img {
  max-width: 15%; 
  height: auto; 
}
.checkout-item-border {
  padding: 10px;
  background-color: #EEEEEE;
  border-radius: 5px;
}
.checkout-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.checkout-item {
  padding: 20px;
}
.checkout-details p {
  font-size: 16px;
}
.checkout-pricing-details {
  margin: 40px;
}
.checkout {
  margin-top: 20%;
}

/*===================================
 *           Payment Page
 *===================================
 */
label {
  float: left !important;
}
.card-header {
  background-color: #ECECEC;
  border: 1px solid #ECECEC;
  border-radius: 10px;
  margin: 1px;
}
.payment-section, .address-section{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.highlight-border {
  border: 1px solid #22241B;
  border-radius: 10px;
}

/*===================================
 *             Popups
 *===================================
 */
.add-to-cart {
  width: 100%;
  height: 10%;
  background-color: #606c38;
  color: #F7F7F7;
  font-family: 'Oswald', sans-serif;
  border: none;
  border-radius: 0px;
  text-decoration: none;
  padding: 0;
  transition: background-color 0.3s ease;
 }
.add-to-cart:hover {
  color: #F7F7F7;
 }
.modal-title {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
 }
.popup-detail {
  background-color: #EFEFEF;
  margin: 2px;
  font-size: 14px;
  padding: 10px 5px;
  font-family: 'Oswald', sans-serif;
}
.sizing-guide {
  width: 100%;
}
.popup-image {
  background-color: #F7F7F7;
}


/*===================================
 *            Side Cart
 *===================================
 */
#cartBtn {
  border: none;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#cd-cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background-color: #f1f1f1;
  padding: 100px 20px;
  transition: right 0.3s ease-in-out;
  z-index: 1;
  font-family: 'Oswald', sans-serif;
}
#cd-cart.open {
  right: 0;
}
.cd-cart-items {
  list-style-type: none;
  padding: 0;
}
.cd-cart-items li {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #DDDDDD;
}
.cd-qty,
.cd-price {
  color: #22241B;
}
.cd-price {
  margin-top: 5px;
}
.cd-item-remove {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #9B9B9B;
}
.cd-item-remove:hover {
  color: #9B9B9B;
}
.cd-cart-total {
  margin-top: 5px 0px;
  text-align: right;
}
.checkout-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #606C38;
  color: #F7F7F7;
  text-align: center;
  text-decoration: none;
}
.checkout-btn:hover {
  color: #F7F7F7;
  background-color: #30361C;
}
.cd-continue-shopping {
  text-align: center;
  margin-top: 10px;
}
.cd-continue-shopping a {
  color: #9B9B9B;
}
#cd-shadow-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
#cd-shadow-layer.is-visible {
  display: block;
}
.cd-cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.cd-cart-item img {
  margin-right: 10px;
}
.cd-cart-item-details {
  display: flex;
  flex-direction: column;
}
.cd-cart-item-name {
  font-weight: bold;
}
.cd-cart-item-price {
  color: #333;
  margin-top: 5px;
}
.cd-cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cd-cart-total-text {
  margin-right: 10px;
}
.cd-cart-total-price {
  margin-left: 10px;
}
.checkout-image {
  height:80px; 
  max-width: auto;
}

/*===================================
 *            Side Cart
 *===================================
 */
.about-content {
  margin: 100px 30px 40px !important;
  z-index: -1 !important;
}
.card-text {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 18px;
}
.mission-vision {
  background-color: #edede9;
  padding: 15px;
}