body {
    overflow-x: hidden;
    background-color: #202020;
    font-family: 'Montserrat', sans-serif;
  }

.main-navbar .top-navbar{
    background-color: #283618;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name{
    color: #fff;
}
.main-navbar .top-navbar .nav-link{
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu{
    padding: 0px 0px;
    border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item{
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i{
    width: 20px;
    text-align: center;
    color: white;
    font-size: 14px;
}
.main-navbar .navbar{
    padding: 0px;
    background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link{
    padding: 8px 20px;
    color: #000;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link{
        font-size: 12px;
        padding: 8px 10px;
    }
}

.home {
    background-image: linear-gradient(rgba(5, 0, 2, 0.622), rgba(0, 0, 0, 0.5)), url('Images/2.png');
    background-size: cover;
    height: 870px;
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    color: #fff;
}


.home h1 {
    font-style: bold;
    margin-left: 50px;
    font-size: 70px;
    margin-top: 220px;
    text-align: left;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.home h2 {
    font-style: bold;
    text-align: left;
    color: #fff;
    margin-left: 50px;
    margin-top: -30px;
    font-family: 'Montserrat', sans-serif;
}

.home h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


.home p {
    position: relative;
    bottom: 70px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 20px;
    margin: auto;
    text-align: left;
    color: #fff;
    padding: 0;
    margin-left: 50px;
}

.contact-info h1 {
    font-style: bold;
    font-size: 70px;
    margin: 25px;
    margin-top: 220px;
    text-align: center;
    color: #fff;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.contact-info h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


.contact-info p {
    position: relative;
    bottom: 70px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 20px;
    margin: auto;
    text-align: center;
    color: #fff;
    padding: 0;
}


.slider{
    
    width: 50%;
    text-align: center;
    background-color: hsl(87, 41%, 5%);

}

.slider img{
    display: flex;
    background-size: contain;
    width: 100%;
    max-width: 100%;
    height: 650px;
    padding: 50px;
    border-radius: 70px;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(87, 41%, 5%);
  
}

.text {
    font-size: 20px;
    padding-left: 20px;
  }

.text h1{
    font-size: 45px;
    padding-left: 20px;
    color: #FEFAE0;
    font-family: 'Montserrat', sans-serif;
  }

  .text h3{
    font-size: 23px;
    padding-left: 20px;
    color: white;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
  }

.card img{
    display: flex;
    background-size: cover;
    width: 100%;
    height: 800px;
    padding: 2px;
    margin: 2px;
   
    
}
.button-73 {
    appearance: none;
    background-color: #FEFAE0;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 200px;
    margin-top: -60px;
  }
  
  .button-73:hover {
    background-color: #fde5a7;
    transform: scale(1.125);
  }
  .button-73:active {
    transform: scale(1.025);
  }

  .button-74 {
    appearance: none;
    background-color: #ffffff;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 1100px;
    margin-top: 50px;
  }
  
  .button-74:hover {
    background-color: #ffd15e;
    transform: scale(1.125);
  }
  .button-74:active {
    transform: scale(1.025);
  }

  .arrow-button {
    border-color: #C2FFE9;
    display: flex;
    color: #C2FFE9;
    background-color: #153a2c;
    padding: 10px 16px;
    border-radius: 10px;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    margin-left: 1100px;
    margin-top: 30px;
}

.arrow-button > .arrow {
    width: 6px;
    height: 6px;
    border-right: 2px solid #C2FFE9;
    border-bottom: 2px solid #C2FFE9;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
}

.arrow-button > .arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}

.arrow-button:hover > .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
    opacity: 1;
    width: 8px;
}

.arrow-button:hover {
    background-color: #017A4F;
    color: #fff;
}