@media (max-width: 576px) {
  .display-1 {
      font-size: 3rem;
      line-height: 1.2;
  }
  .h5 {
      font-size: 1.5rem;
      line-height: 1.4;
  }
}

body {
  overflow-x: hidden;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  padding: 20px 60px;
  background-color: #22241B;
}

.nav-link {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
}

.navbar-brand {
  color: #ffffff;
}

.navbar-nav .nav-link {
  margin-right: 10px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #B5BAA4;
  background-color: transparent;
  text-decoration: solid;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #ffffff; 
  text-decoration: none; 
}

.navbar-toggler {
  box-shadow: none !important; 
  background-color: transparent; 
  border-color: transparent;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.jumbotron {
  background-image: linear-gradient(rgba(5, 0, 2, 0.622), rgba(0, 0, 0, 0.5)), url("./images/cargopants.jpg");
  height: 600px;
  border-radius: 0%;
  padding: 100px 80px;
}

.display-1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #F7F7F7;
}

.h5 {
  color: #F7F7F7;
  font-weight: lighter;
}

#shopBtn, .prod-cat-btn {
  background-color: #606C38;
  color: #F7F7F7;
  font-family: 'Oswald', sans-serif;
  border: none;
  border-radius: 0px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#shopBtn {
  padding: 15px 50px;
  font-size: 20px;
}

/* prod-cat: Product Category */
#shopBtn:hover, .prod-cat-btn:hover {
  background-color: #30361C;
  color: #F7F7F7;
}

.image-box {
  width: 100%;
  position: relative;
  text-align: center;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.prod-cat-btn {
  padding: 15px 90px;
  font-size: 30px;
}

.image-text-container {
  display: flex;
  align-items: center;
}

.image-text-container img {
  max-width: 100%;
  margin-right: 10px;
}

.display-4 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #22241B;
}

p {
  font-size: 15px;
}

#images {
    float:left;
    padding:10px;
    padding-left: 0%;
    padding-right: 0%;
    margin:-25px;
    height:500px;
    width:500px;
    overflow:hidden;
    text-align:center;
}

.main-container1 {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 600px;
  }


.pants1 {
    position: relative;
    top: -100px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #606C38;
    color: white;
    font-family: Open Sans;
    border-radius: 5px;
    text-align: center;
}
.pants2 {
    position: relative;
    top: -100px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #606C38;
    color: white;
    font-family: Open Sans;
    border-radius: 5px;
    text-align: center;
}
.pants3 {
    position: relative;
    top: -100px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #606C38;
    color: white;
    font-family: Open Sans;
    border-radius: 5px;
    text-align: center;
}

.pants1:hover {
    background-color: #606C38;
    transform: scale(1.125);
  }
  .pants1:active {
    transform: scale(1.025);
  }
  .pants2:hover {
    background-color: #606C38;
    transform: scale(1.125);
  }
  .pants2:active {
    transform: scale(1.025);
  }
  .pants3:hover {
    background-color: #606C38;
    transform: scale(1.125);
  }
  .pants3:active {
    transform: scale(1.025);
  }

.slider img{
    display: flex;
    background-size: cover;
    width: 500px;
    height: 500px;
    padding: 45px;
    border-radius: 20px;
}

.main-container {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 600px;
    margin-top: -79px;
  }

.container1 {
    position: relative;
    float: left;
    display: flex;
    background-color: white;
}
.container2 {
    float: right;
    display: flex;
    background-color: white;
}

.text {
    font-size: 20px;
    padding-left: 20px;
    margin-top: 10px;
  }

.text h1{
    font-size: 35px;
    padding-left: 5px;
    color: black;
    font-family: Oswald;   
  }

  .text h3{
    font-size: 18px;
    padding-left: 5px;
    color: black;
    padding: 5px;
    font-family: Montserrat;
  }


.button-73 {
    appearance: none;
    background-color: #fde5a7;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 350px;
    margin-top: -50px;
  }
  
  .button-73:hover {
    background-color: #fde5a7;
    transform: scale(1.125);
  }
  .button-73:active {
    transform: scale(1.025);
  }

 